#  EXPO environment variables must always be prefixed with "EXPO_PUBLIC"
# EXPO_PUBLIC_APP_URL=http://tabibito-laravel-backend.test/api
# Example:
# EXPO_PUBLIC_APP_URL=http://tabibito-laravel-backend.test/api

EXPO_PUBLIC_APP_URL=http://192.168.0.114:8080/api